body{
    margin: 40px;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    background-color: #fff;
    grid-gap: 15px;
    color: #444;
}

.box{
    background-color: #444;
    color: #FFF;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}
.header{
    grid-column: 1/6;
    
}

.article{
    grid-column: 1/5;
    
}

.aside{
    grid-column: 5/6;
    grid-row: 2/4;
    
}

.footer{
    grid-column: 1/6;
    
}